openapi: 3.0.0
info:
  description: Спецификация Omnicomm API
  version: 1.3.3
  title: Omnicomm API specification

servers:
  - url: https://online.omnicomm.ru

tags:
  - name: Authorization
  - name: Users
  - name: Vehicles
  - name: Geozones
  - name: Reports
  - name: Notifications
  - name: VideoService
  - name: Nfuel
  - name: FuelCards

paths:
  # fes
  /auth/login:
    post:
      security: [ ]
      tags:
        - Authorization
      summary: 'Возвращает токен jwt, включающий пользовательские права на определенный логин'
      description: >-
        Возвращает jwt с активной сессией и правами пользователя на объекты системы
      parameters:
        - name: jwt
          in: query
          schema:
            type: integer
          example: '1'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginParameters'
        required: true
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginResponce'

  /auth/refresh:
    post:
      tags:
        - Authorization
      summary: 'Возвращает новый jwt с правами пользователя на определенный логин'
      description: >-
        Возвращает новый jwt с активной сессией и правами пользователя на объекты системы
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginResponce'

  # users
  /ls/api/v1/users:
    get:
      tags:
        - Users
      summary: 'Получение списка пользователей'
      description: >-
        Получение списка пользователей
      parameters:
        - in: query
          name: page
          description: 'номер страницы'
          schema:
            type: integer
        - in: query
          name: pageSize
          description: 'размер страницы'
          schema:
            type: integer
        - in: query
          name: filter
          description: |-
            фильтр пользователей по логину, имени или наименованию клиента
          schema:
            type: string
      responses:
        200:
          description: 'Возвращаемые данные'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/users'

    post:
      tags:
        - Users
      summary: 'Добавить нового пользователя'
      description: >-
        Добавление пользователя
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/user'
                - type: object
                  properties:
                    password:
                      description: |-
                        Пароль добавляемого пользователя ОО  
                        Ограничение: Регулярное выражение - [a-zA-Z0-9\\-_]{7,20}  
                        Пароль является регистрозависимым, т.е. заглавные и строчные буквы алфавита различаются.
                      type: string
                    createVehicleGroup:
                      description: |-
                        Признак создания корневой группы ТС.  
                        по умолчанию = true - при создании пользователя для него будет создана корневая группа ТС  
                        Если одновременно указаны createVehicleGroup и vehiclegroup_id, в качестве корневой будет установлена группа vehiclegroup_id, а признак createVehicleGroup игнорируется
                      type: boolean
                    createGeozoneGroup:
                      description: |-
                        Признак создания корневой группы геозон.  
                        по умолчанию = true - при создании пользователя для него будет создана корневая группа геозон  
                        Если одновременно указаны createGeozoneGroup и geozonegroup_id, в качестве корневой будет установлена группа geozonegroup_id, а признак createGeozoneGroup игнорируется
                      type: boolean
                    createDriverGroup:
                      description: |-
                        Признак создания корневой группы водителей.  
                        по умолчанию = true - при создании пользователя для него будет создана корневая группа водителей  
                        Если одновременно указаны createDriverGroup и drivergroup_id, в качестве корневой будет установлена группа drivergroup_id, а признак createDriverGroup игнорируется
                      type: boolean
                    createRouteGroup:
                      description: |-
                        Признак создания корневой группы маршрутов.  
                        по умолчанию = true - при создании пользователя для него будет создана корневая группа маршрутов  
                        Если одновременно указаны createRouteGroup и routegroup_id, в качестве корневой будет установлена группа routegroup_id, а признак createRouteGroup игнорируется
                      type: boolean
              example: #Создание пользователя и группы ТС по умолчанию
                login: newuser1
                client_name: Название клиента
                name: Наименование пользователя
                password: "sEcret_1-2-3"
                permissions: [ autocheck.access, ase.reports.map2, ase.reports.location, ase.reports.speed, ase.reportvisibility, ase.userreportscontrol, ase.groups.vehicle.full, ase.groups.driver.full, ase.groups.geozone.full, ase.groups.route.full ]
                is_client: true
      responses:
        200:
          description: 'Возвращаемые данные'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/user'
                  - type: object
                    properties:
                      uuid:
                        description: |-
                          Идентификатор (UUID) пользователя Omnicomm Online
                        type: string
                        format: uuid

  /ls/api/v1/users/{uuid}:
    delete:
      tags:
        - Users
      summary: 'Удалить пользователя'
      description: >-
        Удаление пользователя
      parameters:
        - in: path
          name: uuid
          description: |-
            Идентификатор (UUID) пользователя Omnicomm Online
          schema:
            type: string
          required: true
      responses:
        200:
          description: 'OK'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 0
                  message: success
        400:
          description: 'Некорректный формат UUID'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 3
                  message: UUID format error
        403:
          description: 'Нет прав'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: Access denied
        404:
          description: 'Пользователья не найден'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 2
                  message: No such user

  /ls/api/v1/users/blocking:
    post:
      tags:
        - Users
      summary: 'Изменение параметров блокировки пользователя'
      description: >-
        Изменение параметров блокировки пользователя. Параметры блокировки пользователя с указанным в теле запроса login изменяются, если у актора есть права на этого пользователя
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blockingStatus'
      responses:
        200:
          description: 'Возвращаемые данные'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/blockingStatus'
        403:
          description: 'Нет прав'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: Access denied
        404:
          description: 'Пользователь не найден'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 2
                  message: User login not found
        400:
          description: 'Не указан обязательный параметр'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 3
                  message: Required parameter is missing
    get:
      tags:
        - Users
      summary: 'Получение параметров блокировки пользователя'
      description: >-
        Получение параметров блокировки пользователя. Возвращаются данные о блокировке пользователя с указанным login
      parameters:
        - in: query
          name: login
          description: 'логин пользователя'
          schema:
            type: string
          required: true
      responses:
        200:
          description: 'Возвращаемые данные'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/blockingStatus'
        403:
          description: 'Нет прав'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: Access denied
        404:
          description: 'Пользователь не найден'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 2
                  message: User login not found
        400:
          description: 'Не указан обязательный параметр'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 3
                  message: Required parameter is missing


  # vehicles class
  /ls/api/v1/vehicles:
    post:
      tags:
        - Vehicles
      summary: 'Добавить профиль ТС или КО'
      description: >-
        Добавление профиля ТС на основе XML-профиля от конфигуратора или профиля контролируемого объекта в JSON формате
      parameters:
        #        - in: query
        #          name: dateStart
        #          description: Profile effective date, format --- дата начала действия профиля, формат YYYY-MM-DDTHH:MM:SS
        #          schema:
        #            type: string
        #            format: date-time
        - in: query
          name: login
          description: |-
            Логин пользователя.  
            __Обязателен, если не указан vehiclegroup_id__.  
            Если значение передано, профиль добавляется в корневую группу ТС указанного пользователя. Игнорируется, если передан параметр vehiclegroup_id. Все пользователи, имеющие доступ к указанной корневой группе будут иметь доступ к профилю
          schema:
            type: string
        - in: query
          name: vehiclegroup_id
          description: |-
            Идентификатор (UUID) корневой группы транспортных средств.  
            __Обязателен, если не указан login__.  
            Если значение передано, профиль добавляется в указанную группу ТС. Все пользователи, имеющие доступ к указанной корневой группе, будут иметь доступ к профилю
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/xmlProfile'
                - $ref: '#/components/schemas/jsonProfile'
              example:
                "xmlProfile": ""
      responses:
        200:
          description: 'Возвращаемые данные'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      profile_id:
                        description: 'идентификатор (UUID) профиля'
                        type: string
                        format: uuid

    delete:
      tags:
        - Vehicles
      summary: 'Удаление профиля ТС'
      description: >-
        Удаление профиля ТС
      parameters:
        - in: query
          name: vehicles
          description: Список идентификаторов ТС, профили которых необходимо удалить, указанных в квадратных скобках через запятую
          schema:
            type: string
          required: true
          example:
            [ 1138000897,1138000898,1138000899 ]
        - in: query
          name: reason
          description: |-
            причина удаления профиля ТС  
            1 - перенос в другой аккаунт/переход к другому дилеру  
            2 - отключение от ОО/переход на другую систему мониторинга  
            3 - замена терминала  
            4 - консервация ТС/ремонт ТС  
            5 - дебиторка  
            6 - другое  
            Если не передан, устанавливается 6 - другое
          schema:
            type: integer
            enum: [ 1,2,3,4,5,6 ]
      responses:
        202:
          description: 'Все указанные профили ТС удалены успешно'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      result:
                        type: string
              example:
                status:
                  code: 0
                  message: OK
                result: success
        404:
          description: 'ТС не найдено или на него нет прав'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: "Vehicles not found: 326004538, 326004539"

  /ls/api/v1/activity/vehicles:
    get:
      tags:
        - Vehicles
      summary: Получение дат последнего поступления данных по ТС пользователя
      description: >-
        Получение дат последнего поступления данных по всем ТС, доступным пользователю
      responses:
        "200":
          description: >-
            данные о последней активности ТС пользователя
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Идентификатор терминала
                      type: integer
                    dateID:
                      description: >-
                        Unix time stamp (ms) последнего поступления данных по ТС.  
                         -1, если данные по ТС ещё не поступали
                      type: integer
                      format: int64
                    uuid:
                      description: UUID ТС
                      type: string
                      format: uuid
                example:
                  - id: 1138652108
                    dateID: 1554913864000
                    uuid: a200d83d-6a58-3d0a-berf-68f64d738223
                  - id: 1196012040
                    dateID: 1557315303000
                    uuid: 7d3f8b4e-c6f1-3a7a-a48d-6cf489e46226
        default:
          description: непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags:
        - Vehicles
      summary: Получение параметров набора ТС по последним поступившим данным
      description: >-
        Получение основных параметров указанного набора ТС по последним поступившим данным
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  description: |-
                    Массив идентификаторов ТС
                  type: array
                  items:
                    type: integer
      responses:
        "200":
          description: >-
            основные параметры набора ТС по последним поступившим данным
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    iconHeight:
                      description: Высота иконки (px)
                      type: integer
                    latitude:
                      description: Широта
                      type: number
                      format: double
                    roamingOn:
                      description: Признак нахождения в роуминге (true - в роуминге, false - не в роуминге)
                      type: boolean
                    speed:
                      description: Скорость (км/ч)
                      type: number
                      format: double
                    regNum:
                      description: Название ТС
                      type: string
                    tanksCount:
                      description: Количество топливных емкостей
                      type: integer
                    bigIconWidth:
                      description: Ширина большой иконки (px)
                      type: integer
                    fuelVolume2:
                      description: Объём топлива во второй емкости (дл)
                      type: number
                    iconURL:
                      description: URL иконки
                      type: string
                    llsCount:
                      description: Количество ДУТ
                      type: integer
                    ignition:
                      description: Состояние зажигания (false - выключено, true - включено)
                      type: boolean
                    regType:
                      description: Тип терминала
                      type: string
                      enum: [ FAS, FTC ]
                    longitude:
                      description: Долгота
                      type: number
                      format: double
                    direction:
                      description: |-
                        Направление (градусы 0-359, 0 - север, 90 - восток, 180 - юг, 270 - запад)
                      type: integer
                    gsmOn:
                      description: Состояние GSM (true - вкл, false - выкл)
                      type: boolean
                    fuelVolume:
                      description: Объём топлива в первой емкости (дл)
                      type: number
                    lastDataDate:
                      description: Дата и время последних валидных данных от терминала с числом спутников более 3. Omnicomm time (Unix timestamp (s) минус 1230768000)
                      type: integer
                    address:
                      description: Адрес
                      type: string
                    discreteOutputStatus:
                      description: Состояние управляющего выхода (true - вкл, false - выкл)
                      type: boolean
                    iconWidth:
                      description: Ширина иконки (px)
                      type: integer
                    engineWork:
                      description: Режим работы двигателя (load - под нагрузкой, idle - холостой ход, "-" - нет данных)
                      type: string
                      enum: [ load, idle, '-' ]
                    useDiscreteOutput:
                      description: Настройка использования управляющего выхода (true - используется, false - не используется)
                      type: boolean
                    gpsDataValid:
                      description: Признак валидности данных GPS (true - валидны, false - невалидны)
                      type: boolean
                    actualDate:
                      description: Дата и время, на которую обработаны данные по ТС (По ТС могут иметься данные, которые поступили в систему, но ещё не обработаны, см. даты eventDate и lastConnDate). Unix timestamp (ms)
                      type: integer
                      format: int64
                    bigIconURL:
                      description: URL большой иконки
                      type: string
                    vehicleID:
                      description: Идентификатор ТС
                      type: integer
                    bigIconHeight:
                      description: Высота большой иконки (px)
                      type: integer
                    eventDate:
                      description: Дата и время из последнего успешно разобранного сообщения от терминала. Omnicomm time (Unix timestamp (s) минус 1230768000)
                      type: integer
                    terminal_id:
                      description: Идентификатор терминала
                      type: integer
                    uuid:
                      description: UUID ТС
                      type: string
                      format: uuid
              example:
                - iconHeight: 37
                  latitude: 56.1538217
                  roamingOn: false
                  speed: 0
                  regNum: 0123УК 86 СУ901
                  tanksCount: 1
                  bigIconWidth: 34
                  fuelVolume2: -10
                  iconURL: location?action=getImage&type=GrayLkp
                  llsCount: 1
                  ignition: true
                  regType: FAS
                  longitude: 37.747505
                  direction: 160
                  gsmOn: false
                  fuelVolume: 1943
                  lastDataDate: 320478126
                  address: "«Дон», Нагибинское сельское поселение, Чертковский район, Ростовская область, Южный федеральный округ, 346023, Россия"
                  discreteOutputStatus: false
                  iconWidth: 29
                  engineWork: load
                  useDiscreteOutput: false
                  gpsDataValid: true
                  actualDate: 1551246126000
                  bigIconURL: location?action=getImage&type=GrayLkpSelected
                  vehicleID: 1138000898
                  bigIconHeight: 41
                  eventDate: 320478126
                  terminal_id: 1138000898
                  uuid: 0f4062e1-0be8-4726-876c-ceeadde82a0b
                - iconHeight: 37
                  latitude: 57.8470731
                  roamingOn: false
                  speed: 42.4
                  regNum: Fort ACH KO
                  tanksCount: 0
                  bigIconWidth: 34
                  fuelVolume2: -10
                  iconURL: location?action=getImage&type=GrayLkp
                  llsCount: 0
                  ignition: true
                  regType: FAS
                  longitude: 114.2026496
                  direction: 305
                  gsmOn: false
                  fuelVolume: -10
                  lastDataDate: 327095319
                  address: "Лензолото, 4, улица Мира, Бодайбо, Бодайбинский район, Иркутская область, Сибирский федеральный округ, 666904, Россия"
                  discreteOutputStatus: false
                  iconWidth: 29
                  engineWork: load
                  useDiscreteOutput: false
                  gpsDataValid: true
                  actualDate: 1557927231000
                  bigIconURL: location?action=getImage&type=GrayLkpSelected
                  vehicleID: 1077987732
                  bigIconHeight: 41
                  eventDate: 327159231
                  terminal_id: 1077987732
                  uuid: 6a242c7f-0a72-3985-abe3-ef8593484214

  /ls/api/v2/activity/vehicles:
    get:
      tags:
        - Vehicles
      summary: Получение дат последнего поступления данных по ТС пользователя
      description: >-
        Получение дат последнего поступления данных по всем ТС, доступным пользователю
      responses:
        "200":
          description: >-
            данные о последней активности ТС пользователя
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      description: Идентификатор терминала
                      type: integer
                    dateID:
                      description: >-
                        Unix time stamp (ms) последнего поступления данных по ТС.  
                         -1, если данные по ТС ещё не поступали
                      type: integer
                      format: int64
                    uuid:
                      description: UUID ТС
                      type: string
                      format: uuid
                    status:
                      description: |-
                        Идентификатор статуса для "светофора"  
                        если status = 0, то серый  
                        если status = 1, то зеленый  
                        если status = 2, то оранжевый  
                        если status = 3, то красный
                      type: integer
                example:
                  - id: 1138652108
                    dateID: 1554913864000
                    uuid: a200d83d-6a58-3d0a-berf-68f64d738223
                    status: 2
                  - id: 1196012040
                    dateID: 1557315303000
                    uuid: 7d3f8b4e-c6f1-3a7a-a48d-6cf489e46226
                    status: 1
                  - id: 1196012040
                    dateID: 1557314300000
                    uuid: 7d3f8b4e-c6f1-3a7a-a48d-6cf489e46226
                    status: 0
        default:
          description: непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /ls/api/v1/vehicles/{id}/state:
    get:
      tags:
        - Vehicles
      summary: Получение состояния ТС
      description: >-
        Показывает состояние ТС по последним полученным данным
      parameters:
        - in: path
          name: id
          description: |-
            идентификатор КО (UUID) или идентификатор терминала
          schema:
            type: string
          required: true
      responses:
        "200":
          description: >-
            данные о состоянии ТС
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                properties:
                  status:
                    description: Статус выполнения операции. True в случае успешной операции
                    type: boolean
                  address:
                    description: Адрес
                    type: string
                  currentFuel:
                    description: Уровень топлива (л). -1, если значение не определено
                    type: number
                  currentIgn:
                    description: Состояние зажигания (false - выключено, true - включено)
                    type: boolean
                  currentSpeed:
                    description: Скорость (км/ч)
                    type: number
                  lastDataDate:
                    description: Дата и время последних данных от терминала Unix timestamp (s)
                    type: integer
                  lastGPS:
                    properties:
                      latitude:
                        description: широта
                        type: number
                      longitude:
                        description: долгота
                        type: number
                  lastGPSDir:
                    description: |-
                      направление (градусы 0-359, 0 - север, 90 - восток, 180 - юг, 270 - запад)
                    type: integer
                  speedExceed:
                    description: Признак превышения порога скорости (false - не превышен, true - превышен)
                    type: boolean
              example:
                status: true
                address: "Свободное сельское поселение, Приморско-Ахтарский район, Краснодарский край, Южный федеральный округ, 353881, Россия"
                currentFuel: 102
                currentIgn: true
                currentSpeed: 5.3
                lastDataDate: 1554913864
                lastGPS:
                  latitude: 45.9464667
                  longitude: 38.3762733
                lastGPSDir: 81
                speedExceed: false
        default:
          description: непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /ls/api/v1/tree/vehicle:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС и дерево групп ТС, доступные пользователю
      description: >-
        Метод предназначен для получения по пользователю перечня ТС с группами ТС в виде дерева.  
        Определяет пользователя по JWT.
      responses:
        "200":
          description: |-
            данные для построения дерева ТС
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreeGroup-V1"

  /ls/api/v2/tree/vehicle:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС и дерево групп ТС, доступные пользователю
      description: >-
        Метод предназначен для получения по пользователю перечня ТС с группами ТС в виде дерева.  
        Определяет пользователя по JWT.
      responses:
        "200":
          description: |-
            данные для построения дерева ТС
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreeGroup-V2"

  /ls/api/v1/tree/vehicle/{groupId}:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС и дерево групп ТС по указанному идентификатору группы
      description: >-
        Возвращает дерево ТС и групп ТС, находящихся в указанной группе.
      parameters:
        - in: path
          name: groupId
          description: 'идентификатор (uuid) группы ТС'
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: |-
            данные для построения дерева ТС
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreeGroup-V1"

  /ls/api/v2/tree/vehicle/{groupId}:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС и дерево групп ТС по указанному идентификатору группы
      description: >-
        Возвращает дерево ТС и групп ТС, находящихся в указанной группе.
      parameters:
        - in: path
          name: groupId
          description: 'идентификатор (uuid) группы ТС'
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: |-
            данные для построения дерева ТС
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreeGroup-V2"

  /ls/api/v1/tree/vehicle/{groupId}/list:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС по указанному идентификатору группы
      description: >-
        Возвращает список ТС, находящихся в указанной группе.
      parameters:
        - in: path
          name: groupId
          description: 'идентификатор (uuid) группы ТС'
          schema:
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: |-
            список ТС
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    $ref: "#/components/schemas/Terminals"

  /ls/api/v2/tree/vehicle/{groupId}/list:
    get:
      tags:
        - Vehicles
      summary: Показывает ТС по указанному идентификатору группы
      description: >-
        Возвращает список ТС, находящихся в указанной группе.
      parameters:
        - in: path
          name: groupId
          description: 'идентификатор (uuid) группы ТС'
          schema:
            type: string
            format: uuid
          required: true
        - in: query
          name: receiveData
          description: 'Фильтр по статусу передачи данных'
          schema:
            type: boolean
      responses:
        "200":
          description: |-
            список ТС
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    $ref: "#/components/schemas/TerminalsExtended"

  # OVMS
  /service/ovms/api/tasks/list:
    post:
      tags:
        - VideoService
      summary: 'Список задач'
      description: >-
        Получить список заказов видео для данного пользователя
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TaskListRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/TaskListRequest'
      responses:
        '200':
          description: >-
            Список заказов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'

  /service/ovms/api/tasks:
    post:
      tags:
        - VideoService
      summary: 'Добавить задание на получение видеофрагмента'
      description: >-
        Добавить задание на получение видеофрагмента
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/x-www-form-urlencoded'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TaskAddRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAddRequest'
      responses:
        '200':
          description: |-
            Возвращает TaskAddResponse или ошибку TaskAddError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAddResponse'

  /service/ovms/api/tasks/{task_id}:
    get:
      tags:
        - VideoService
      summary: 'Показать детали задания'
      description: >-
        Получение задания пользователя по Task ID
      parameters:
        - in: path
          name: task_id
          required: true
          description: 'id задания'
          schema:
            type: integer
          example: '1'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

    put:
      tags:
        - VideoService
      summary: 'Изменить статус задания'
      description: >-
        Назначенное задание может быть только отменено или поставлено в очередь
      parameters:
        - in: path
          name: task_id
          required: true
          description: 'id задания'
          schema:
            type: integer
            example: 1
          example: 1
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - status
              type: object
              properties:
                status:
                  type: string
                  enum: [ queued, canceled ]
                  example: 'queued'
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Task'

    delete:
      tags:
        - VideoService
      summary: 'Удалить задание'
      description: >-
        Удалить задание. Задание помечается как удаленное и удаляются файлы если есть.
      parameters:
        - in: path
          name: task_id
          required: true
          description: 'id задания'
          schema:
            type: integer
          example: '1'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''

  /service/ovms/api/profiles/{profile_id}:
    get:
      tags:
        - VideoService
      summary: 'Показать параметры профиля видео'
      description: >-
        Просмотр перечня параметров профиля видео
      parameters:
        - in: path
          name: profile_id
          required: true
          description: id профиля
          schema:
            type: integer
          example: '1'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

    put:
      tags:
        - VideoService
      summary: 'Изменить параметры профиля видео'
      description: >-
        Изменение профиля пользователем
      parameters:
        - in: path
          name: profile_id
          required: true
          description: id профиля
          schema:
            type: integer
          example: '1'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProfileAddRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAddRequest'
      responses:
        '200':
          description: 'Профиль'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /service/ovms/api/profiles:
    get:
      tags:
        - VideoService
      summary: 'Доступный пользователю видео профиль по указанному терминалу'
      description: >-
        Получить доступный для пользователя видео профиль по данному ID терминала
      parameters:
        - name: reg_id
          in: query
          description: Id терминала
          required: true
          schema:
            type: integer
          example: '346000001'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

    post:
      tags:
        - VideoService
      summary: 'Перечень видео профилей'
      description: >-
        Получить список видео профилей ТС пользователя
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'

  /service/ovms/api/rules/list:
    post:
      tags:
        - VideoService
      summary: 'Перечень автоматических правил загрузки видео'
      description: >-
        Получить список правил автоматической загрузки видео
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RulesListRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RulesListRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleListResponse'

  /service/ovms/api/rules:
    post:
      tags:
        - VideoService
      summary: 'Добавить правило автоматической загрузки видео-файла'
      description: >-
        Добавить правило автоматической загрузки видео
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleAdd'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleAdd'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

  /service/ovms/api/rules/{rule_id}:
    get:
      tags:
        - VideoService
      summary: 'Получить информацию о правиле автоматической загрузки видео-файла'
      description: >-
        Получить информацию о правиле автоматической загрузки видео по rule_ID
      parameters:
        - in: path
          name: rule_id
          required: true
          schema:
            type: integer
          example: 10
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

    put:
      tags:
        - VideoService
      summary: 'Изменить правило автоматической загрузки видео'
      description: >-
        Изменить правило автоматической загрузки видео по rule_ID
      parameters:
        - in: path
          name: rule_id
          required: true
          schema:
            type: integer
          example: 10
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleAdd'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleAdd'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

    delete:
      tags:
        - VideoService
      summary: 'Удалить правило'
      description: >-
        Удалить правило
      parameters:
        - in: path
          name: rule_id
          required: true
          schema:
            type: integer
          example: '10'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
        - name: 'Authorization'
          in: header
          description: 'JWT Токен'
          required: true
          schema:
            type: string
          example: 'JWT {jwtToken}'
        - name: rule_name
          in: query
          description: ''
          required: true
          schema:
            type: string
          example: 'Name'
        - name: event_type_id
          in: query
          description: ''
          required: true
          schema:
            type: string
          example: 6
        - name: reg_ids
          in: query
          description: ''
          required: true
          schema:
            type: string
          example: 346999999
        - name: channel_ids
          in: query
          description: ''
          required: true
          schema:
            type: string
          example: 4
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: object

  /service/ovms/api/tasks/checkfile/{task_id}:
    get:
      tags:
        - VideoService
      summary: 'Проверить наличие видео-файла'
      description: >-
        Проверка наличия видео по task_ID
      parameters:
        - in: path
          name: task_id
          required: true
          schema:
            type: integer
          example: '10'
          description: id задания
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  file:
                    type: string

  /service/ovms/api/tasks/file/{task_id}:
    get:
      tags:
        - VideoService
      summary: 'Получить видео по ID задания'
      description: >-
        Получить видео по Id задания
      parameters:
        - in: path
          name: task_id
          required: true
          schema:
            type: integer
          example: '10'
          description: 'id задания'
        - name: Content-Type
          in: header
          description: ''
          required: true
          schema:
            type: string
          example: 'application/json'
      responses:
        '200':
          description: ''

  # geozones
  /api/service/geozones/geozones:
    post:
      tags:
        - Geozones
      summary: 'Добавить геозону'
      description: |-
        Метод предназначен для добавления геозоны.  
        Метод ожидает на вход данные из файла в формате .kml, .mif, либо в json по указанной схеме.  
        Геозона загружается в корневую группу геозон пользователя.
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [ 'kml', 'mif', 'json' ]
            default: 'json'
          required: true
      requestBody:
        content:
          application/json:
            # 'данные по схеме Омникомм онлайн'
            schema:
              $ref: '#/components/schemas/geozoneParameters'
          application/xml:
            # 'данные из файла в формате .kml'
            # обработка kml http://wiki.omnicomm.ru/pages/viewpage.action?pageId=11575722
            schema:
              type: string
          text/plain:
            # 'данные из файла в формате .mif'
            # обработка mif http://wiki.omnicomm.ru/pages/viewpage.action?pageId=11575959
            schema:
              type: string
      responses:
        200:
          description: 'добавлена геозона'
          content:
            text/plain:
              schema:
                description: 'UUID добавленной геозоны'
                type: string
                format: uuid

    get:
      tags:
        - Geozones
      summary: 'Получить данные о геозонах'
      description: |-
        Выбираются все геозоны, которые доступны пользователю, постраничная разбивка выполняется по количеству геозон.  
        Пользователя получаем из JWT.  
        Возвращается запрошенная страница данных по геозонам. Если страница не указана, то возвращается первая страница.
      parameters:
        - in: query
          name: page
          description: |-
            номер страницы, если не указан, то возвращается первая страница
          schema:
            type: integer
        - in: query
          name: pageSize
          description: |-
            максимальное количество геозон на странице, значение от 1 до 1000, если не указан, то по умолчанию 200
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
      responses:
        200:
          description: 'страница с данными по геозонам'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geozones'

  /ls/api/v1/tree/geozone:
    get:
      tags:
        - Geozones
      summary: Показывает геозоны и дерево групп геозон, доступные пользователю
      description: >-
        Метод предназначен для получения по пользователю перечня геозон с группами геозон в виде дерева.  
        Определяет пользователя по JWT.
      responses:
        "200":
          description: |-
            данные для построения дерева геозон
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeozoneTreeGroup"

  /api/service/geozones/geozone-groups:
    get:
      tags:
        - Geozones
      summary: 'Возвращает группы геозон'
      description: |-
        Возвращаются данные по всем группам геозон пользователя.  
        Пользователя получаем из JWT.  
        В каждой группе указывается родительская группа и идентификаторы геозон, включенных в группу.
      responses:
        200:
          description: 'полный перечень групп геозон'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geozonesGroups'

  /api/service/geozones/geozone/{uuid}:
    get:
      tags:
        - Geozones
      summary: 'Получить данные о геозоне'
      description: |-
        Метод возвращает данные по геозоне. Если у пользователя нет прав на геозону, то возвращается ошибка
      parameters:
        - in: path
          name: uuid
          description: 'uuid геозоны'
          schema:
            type: string
            format: uuid
          required: true
      responses:
        200:
          description: 'страница с данными по геозонам'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/geozone'

  # reports
  /ls/api/v1/reports:
    get:
      tags:
        - Reports_under_construction
      summary: 'Получение списка отчётов, доступных пользователю'
      description: >-
        Получение списка отчётов, доступных пользователю. Пользователь определяется по JWT
      responses:
        200:
          description: 'OK'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      reports:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: Идентификатор отчёта
                              type: integer
                            code:
                              description: Кодовое имя отчёта
                              type: string
                            group:
                              description: Группы, в которые входит отчёт (favourite - Избранное, reports - Отчеты, maps - Карта, graphs - Графики, charts - Диаграммы)
                              type: array
                              items:
                                type: string
                            objectTypes:
                              description: Типы объектов, для которых применим отчёт (FAS - ТС, FTC - Топливозаправщик, DRV - водитель, GEOZONE/1 - геозона, ROUTE - маршрут)
                              type: array
                              items:
                                type: string
                example:
                  status:
                    code: 0
                    message: "OK"
                  reports:
                    - id: 8
                      code: fueleventsreport
                      groups:
                        - reports
                        - favourite
                      objectTypes:
                        - FAS
                        - FTC
                        - DRV
                    - id: 32
                      code: consolidatedreport
                      groups:
                        - reports
                      objectTypes:
                        - FAS
                        - FTC

  /ls/api/v1/reports/track/{id}:
    get:
      tags:
        - Reports
      summary: 'Получение данных отчета о треке по указанному ТС'
      description: >-
        Получение данных отчета о треке по идентификатору терминала или идентификатору КО (UUID)
      parameters:
        - in: path
          name: id
          description: |-
            идентификатор КО (UUID) или идентификатор терминала
          schema:
            type: string
          required: true
        - in: query
          name: timeBegin
          description: |-
            время начала интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
        - in: query
          name: timeEnd
          description: |-
            время окончания интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
      responses:
        200:
          description: 'OK'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    properties:
                      track:
                        $ref: '#/components/schemas/track'
                example:
                  status:
                    code: 0
                    message: "OK"
                  track:
                    - date: 1548217295
                      direction: 284
                      latitude: 48.7845135
                      longitude: 44.500788
                      speed: 0
                      satellitesCount: 21
                    - date: 1548217300
                      direction: 354
                      latitude: 48.7845599
                      longitude: 44.5007432
                      speed: 3.4
                      satellitesCount: 21

  /ls/api/v1/reports/track:
    get:
      operationId: getTrack
      tags:
        - Reports
      summary: 'Получение по набору ТС данных отчета "Трек" с прореживанием'
      description: >-
        Получение данных отчёта "Трек" по набору идентификаторов ТС за период с прореживанием (прореживание - исключение некоторых точек трека для уменьшения объёма результата)
      parameters:
        - in: query
          name: vehicles
          description: |-
            массив идентификаторов ТС в виде строки в квадратных скобках с идентификаторами ТС, указанными через запятую   
            example: [254000001,1138000001,1138000002]
          schema:
            type: string
          required: true
        - in: query
          name: fromDatetime
          description: 'время начала интервала с точностью до миллисекунд (UTC unix timestamp ms)'
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: toDatetime
          description: 'время окончания интервала с точностью до миллисекунд (UTC unix timestamp ms)'
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: gpsfDist
          description: 'Прореживание по расстоянию. Минимальное расстояние, в метрах, между точками, при котором не происходит исключение последующей точки. По умолчанию 10000 метров'
          schema:
            type: integer
        - in: query
          name: gpsfAngle
          description: 'Прореживание по направлению. Минимальный угол, в градусах, между направлениями точек, при котором не происходит фильтрация. По умолчанию 10 градусов'
          schema:
            type: integer
        - in: query
          name: gpsfWidth
          description: 'Прореживание по ширине коридора. Минимальная ширина коридора, в метрах, между текущей отображаемой и одной из последующих точек, при нахождении промежуточной между ними точки она не отфильтровывается. По умолчанию 20 метров'
          schema:
            type: integer
        - in: query
          name: events
          description: 'Возвращать ли события в точках трека. По умолчанию true'
          schema:
            type: boolean
      responses:
        200:
          description: |-
            code = 0 - OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            maximalSpeed:
                              description: Ограничение максимальной скорости для ТС
                              type: integer
                            unis:
                              description: >-
                                Массив объектов с параметрами универсальных входов (для обработки данных событий)
                              type: array
                              items:
                                allOf:
                                  - type: object
                                    properties:
                                      number:
                                        description: Номер универсального входа
                                        type: integer
                                      alwaysOn:
                                        description: Всегда включен
                                        type: boolean
                                  - $ref: '#/components/schemas/uniInput'
                            registrationNumber:
                              description: Регистрационный номер ТС
                              type: string
                            vehicleID:
                              description: Идентификатор ТС
                              type: integer
                            track:
                              description: Массив точек трека
                              type: array
                              items:
                                type: object
                                properties:
                                  p:
                                    description: |-
                                      Массив основных параметров  
                                      0 - топливо (дл)  
                                      1 - признак остановки (1 - остановка, 0 - нет остановки)  
                                      2 - признак зажигания (1 - вкл, 0 - выкл)
                                    type: array
                                    items:
                                      type: number
                                  s:
                                    description: Скорость (км/ч) - в зависимости от настроек, может зависеть от Признака валидности данных GPS (см. параметр v)
                                  d:
                                    description: Направление (градусы 0-359, 0 - север, 90 - восток, 180 - юг, 270 - запад) - в зависимости от настроек, меожт зависеть от Признака валидности данных GPS (см. параметр v)
                                  e:
                                    description: >-
                                      Массив событий точки трека. Возвращается, если query-параметр events = true
                                    type: array
                                    items:
                                      $ref: '#/components/schemas/TrackEvent'
                                  v:
                                    description: Признак валидности данных GPS (1 - валидны, 0 - невалидны)
                                    type: integer
                                  lt:
                                    description: 'Широта'
                                    type: number
                                    format: double
                                  lg:
                                    description: 'Долгота'
                                    type: number
                                    format: double
                                  m:
                                    description: Пробег по треку (км) - в зависимости от настроек, может зависеть от Признака валидности данных GPS (см. параметр v)
                                  ed:
                                    description: 'Метка времени события. Unix timestamp (s)'
                                    type: integer
                  - $ref: '#/components/schemas/responseStatus'
              example:
                data:
                  - maximalSpeed: 100
                    unis:
                      -
                    registrationNumber: RENAULT К123СО750
                    vehicleId: 336001234
                    track:
                      - p: [ 3581,0,1 ]
                        s: 0
                        d: 66
                        e:
                          - [ 5,0,2 ]
                        v: 1
                        lt: 52.5930108
                        lg: 39.4403379
                        m: 215.6082
                        ed: 1567734841
                      - p: [ 3579,0,1 ]
                        s: 3.9
                        d: 120
                        e:
                          - [ 43,0,3082 ]
                          - [ 98,0,3082 ]
                        v: 1
                        lt: 52.593059
                        lg: 39.4406024
                        m: 215.6264
                        ed: 1567734934
                status:
                  code: 0
                  message: OK

        403:
          description: |-
            code = 1 - Ошибка. Нет доступа к ТС по указанному идентификатору, либо ТС не существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: 'Access denied: 1138000000'

  /ls/api/v1/reports/fuellevel:
    get:
      operationId: getFuelLevel
      tags:
        - Reports
      summary: 'Получение данных отчета "Объём топлива"'
      description: >-
        Получение данных отчёта "Объём топлива" по ТС за период по отдельным топливным емкостям
      parameters:
        - in: query
          name: timeBegin
          description: |-
            время начала интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
        - in: query
          name: timeEnd
          description: |-
            время окончания интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
        - in: query
          name: vehicleID
          description: |-
            идентификатор ТС
          schema:
            type: integer
          required: true
        - in: query
          name: ignition
          description: |-
            Флаг true/false возврашать данные по зажиганию или нет. По умолчанию выключен
          schema:
            type: boolean
        - in: query
          name: llsFailure
          description: |-
            Флаг true/false возврашать данные по сбоям датчиков LLS или нет. По умолчанию выключен
          schema:
            type: boolean
        - in: query
          name: activity
          description: |-
            Флаг true/false возврашать данные по работе двигателя или нет. По умолчанию выключен
          schema:
            type: boolean
      responses:
        200:
          description: |-
            code = 0 - OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    description: |-
                      Данные по объему топлива для ТС
                    properties:
                      ignition:
                        type: object
                        description: |-
                          Данные по зажиганию, возвращаются когда query параметр ignitionData = true
                        properties:
                          ignitionOn:
                            description: Массив событий включения зажигания
                            type: array
                            items:
                              description: unix timestamp (s)
                              type: integer
                              format: int64
                          ignitionOff:
                            description: Массив событий выключения зажигания
                            type: array
                            items:
                              description: unix timestamp (s)
                              type: integer
                              format: int64
                      activityPeriods:
                        description: 'Массив интервалов работы двигателя. Данные по зажиганию, возвращаютскогдquery параметр ignitionData = true '
                        type: array
                        items:
                          $ref: '#/components/schemas/intervalArray'
                      tankData:
                        description: Массив данных по топливным емкостям
                        type: array
                        items:
                          description: Данные по отдельной топливной емкости
                          type: object
                          properties:
                            tankNumber:
                              description: номер топливной емкости
                              type: integer
                            tankCapacity:
                              description: объем топливной емкости (л)
                              type: integer
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  eD:
                                    description: 'Метка времени unix timestamp (s)'
                                    type: integer
                                  aV:
                                    description: 'Cглаженное значение объема топлива в момент времени (л)'
                                    type: number
                                  rV:
                                    description: '"Сырые" значения объема топлива  в момент времени (л)  '
                                    type: number
                            llsFailurePeriods:
                              description: Массив интервалов сбоев датчиков по емкости
                              type: array
                              items:
                                $ref: '#/components/schemas/intervalArray'
        403:
          description: |-
            code = 1 - Ошибка. Нет доступа к запрошенным ТС
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseStatus'
              example:
                status:
                  code: 1
                  message: 'Access denied to the vehicles: 1138000000'


  /ls/api/{versionNumber}/reports/statistics:
    get:
      operationId: getStatistics
      tags:
        - Reports
      summary: 'Получение данных отчета "Статистика"'
      description: >-
        Получение запрошенных групп параметров отчёта "Статистика" по набору идентификаторов ТС и/или групп ТС за период
      parameters:
        - in: path
          name: versionNumber
          description: 'номер версии API'
          schema:
            type: string
          required: true
        - in: query
          name: timeBegin
          description: |-
            время начала интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
        - in: query
          name: timeEnd
          description: |-
            время окончания интервала с точностью до секунд (UTC unix timestamp)
          schema:
            type: integer
          required: true
        - in: query
          name: dataGroups
          description: |-
            массив запрашиваемых групп параметров в виде строки в квадратных скобках с кодами групп, указанными через запятую:  
            mw - Движение и работа  
            cmw - Счётчики движения  
            fuel - Топливо (основная ёмкость)  
            fuelmass - Масса топлива (основная ёмкость)  
            fuelecon - Топливо (Параметры экономичности, основная ёмкость)  
            fueladd - Топливо (дополнительная ёмкость)  
            ae - Работа дополнительного оборудования  
            ccan - Показания счетчиков с шины CAN  
            canmnt - Параметры технического обслуживания по CAN  
            can - Пробег, расход и моточасы по данным с шины CAN  
            iqfreeze - IQFreeze  
            tpms - TPMS  
            tech - Технологические параметры
          example: "[mw,fuel,mnt]"
          schema:
            type: string
          required: true
        - in: query
          name: vehicles
          description: |-
            массив идентификаторов ТС в виде строки в квадратных скобках с идентификаторами ТС, указанными через запятую. Не более 50 ТС  
            должен быть указан, если не указан vehileGroups
          example: "[254000001,1138000001,1138000002]"
          schema:
            type: string
        - in: query
          name: vehileGroups
          description: |-
            массив идентификаторов групп ТС в виде строки в квадратных скобках с идентификаторами ТС, указанными через запятую. Не более 10 групп  
            должен быть указан, если не указан vehiles
          example: "[12409b04-79fc-3a28-91f4-9de396fd84b1,12409b04-79fc-3a28-91f4-9de396fd84b2,12409b04-79fc-3a28-91f4-9de396fd84b3]"
          schema:
            type: string

      responses:
        200:
          description: |-
            code = 0 - OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/responseStatus'
                  - type: object
                    description: |-
                      Данные по статистике.  
                      Если значение какого-либо числового параметра не определено, возвращается NULL
                    properties:
                      data:
                        type: object
                        properties:
                          vehicleDataList:
                            description: Массив данных по отдельным ТС
                            type: array
                            items:
                              description: Данные по отдельному ТС
                              type: object
                              properties:
                                vehicleID:
                                  description: Идентификатор ТС
                                  type: integer
                                name:
                                  description: Регистрационный номер ТС
                                  type: string

                                mw:
                                  description: Движение и работа
                                  type: object
                                  properties:
                                    movement:
                                      description: Время движения (с)
                                      type: integer
                                      format: int64
                                    movementPercent:
                                      description: Время движения (% от периода отчёта)
                                      type: number
                                    layUp:
                                      description: Время с выключенным двигателем (с)
                                      type: integer
                                      format: int64
                                    layUpPercent:
                                      description: Время с выключенным двигателем (% от периода отчёта)
                                      type: number
                                    worked:
                                      description: Время работы двигателя (с)
                                      type: integer
                                      format: int64
                                    workedPercent:
                                      description: Время работы двигателя (% от периода отчёта)
                                      type: number
                                    workedOnMovement:
                                      description: Время работы двигателя в движении (с)
                                      type: integer
                                      format: int64
                                    workedOnMovementPercent:
                                      description: Время работы двигателя в движения (% от периода отчёта)
                                      type: number
                                    workedNoMovement:
                                      description: Время работы двигателя без движения (с)
                                      type: integer
                                      format: int64
                                    workedNoMovementPercent:
                                      description: Время работы двигателя без движения (% от периода отчёта)
                                      type: number
                                    mileage:
                                      description: Пробег (км)
                                      type: number
                                    mileageSpeeding:
                                      description: Пробег с превышением скорости (км)
                                      type: number
                                    moveTime:
                                      description: Время движения (с)
                                      type: number
                                    excessRPM:
                                      description: Время работы двигателя на предельных оборотах (с)
                                      type: integer
                                      format: int64
                                    idlingRPM:
                                      description: Время работы двигателя на холостом ходу (с)
                                      type: integer
                                      format: int64
                                    idlingRPMPercent:
                                      description: Время работы двигателя на холостом ходу (% от периода отчёта)
                                      type: number
                                    normalRPM:
                                      description: Время работы двигателя на нормальных оборотах (с)
                                      type: integer
                                      format: int64
                                    normalRPMPercent:
                                      description: Время работы двигателя на нормальных оборотах (% от периода отчёта)
                                      type: number
                                    maxSpeed:
                                      description: Максимальная скорость (км/ч)
                                      type: number

                                cmw:
                                  description: Счетчики движения
                                  type: object
                                  properties:
                                    mileageAtPeriodBegin:
                                      description: Общий пробег на начало периода (км)
                                      type: number
                                    mileageAtPeriodEnd:
                                      description: Общий пробег на конец периода (км)
                                      type: number

                                ccan:
                                  description: Счетчики CAN
                                  type: object
                                  properties:
                                    spn245:
                                      description: Значение одометра CAN на конец периода (км)
                                      type: number
                                    spn246:
                                      description: Значение одометра CAN на начало периода (км)
                                      type: number
                                    spn247:
                                      description: Значение счетчика моточасов (c)
                                      type: integer
                                      format: int64
                                    spn250:
                                      description: Значение счетчика расхода топлива (л)
                                      type: number

                                canmnt:
                                  description: Параметры технического обслуживания по CAN
                                  type: object
                                  properties:
                                    motoHoursServiceCounter:
                                      description: Значение счётчика моточасов на конец периода (мтч)
                                      type: integer
                                    spn914:
                                      description: Пробег до ТО (км)
                                      type: number
                                    spn916:
                                      description: Моточасов до ТО (c)
                                      type: integer
                                      format: int64

                                can:
                                  description: Пробег, расход и моточасы по данным с шины CAN
                                  type: object
                                  properties:
                                    distance:
                                      description: Пробег (км)
                                      type: number
                                    engineOperationMin:
                                      description: Моточасы (мин)
                                      type: number
                                    fuelUsed:
                                      description: Расход топлива (дл)
                                      type: number

                                fuel:
                                  description: Топливо (основная ёмкость)
                                  type: object
                                  properties:
                                    fuelConsumption:
                                      description: Фактический расход (дл)
                                      type: number
                                    delivery:
                                      description: Объём выдач (сл)
                                      type: number
                                    draining:
                                      description: Объём сливов (дл)
                                      type: number
                                    deviation:
                                      description: Возможный слив (сл). Если знак обратный - "Превышение выдач над заливами". Имеет смысл для АТЗ
                                      type: number
                                    endVolume:
                                      description: Конечный объём (дл)
                                      type: number
                                    maxVolume:
                                      description: Максимальный объём (дл)
                                      type: number
                                    minVolume:
                                      description: Минимальный объём (дл)
                                      type: number
                                    refuelling:
                                      description: Объём заправок (дл)
                                      type: number
                                    co2Emission:
                                      description: Объём выбросов CO2 (кг)
                                      type: integer
                                    fuelConsumptionOnMove:
                                      description: Фактический расход в движении (дл)
                                      type: number
                                    startVolume:
                                      description: Начальный объём (дл)
                                      type: number
                                    fuelConsumptionWOMovement:
                                      description: Фактический расход без движения (дл)
                                      type: number
                                    fuelConsumptionOnWorked:
                                      description: Фактический расход за время работы двигателя (дл)
                                      type: number
                                    fuelConsumptionOnWorkedNoMovement:
                                      description: Фактический расход за время работы двигателя без движения (дл)
                                      type: number
                                    fuelConsMH:
                                      description: Фактический расход за час работы двигателя (дл)
                                      type: number
                                    fuelConsMHWOMovement:
                                      description: Фактический расход за час работы двигателя без движения (дл)
                                      type: number
                                    fuelConsMHMovement:
                                      description: Фактический расход за час работы двигателя в движении (дл)
                                      type: number
                                    fuelConsumptionOnMoveIdle:
                                      description: Фактический расход за время работы двигателя на холостом ходу в движении (дл)
                                      type: number
                                    fuelConsumptionNotMoveIdle:
                                      description: Фактический расход за время работы двигателя на холостом ходу в движении (дл)
                                      type: number
                                    dutyConsumptionMH:
                                      description: Норма расхода на час работы двигателя (л)
                                      type: number
                                    normConsumptionMH:
                                      description: Расчетный расход по норме на час работы двигателя (л)
                                      type: number
                                    fuelConsEx:
                                      description: Перерасход от нормы на час работы двигателя (л)
                                      type: number
                                    fuelConsDev:
                                      description: Отклонение от нормы на час работы двигателя (%)
                                      type: number
                                    deviationWorkNormIdleLoad:
                                      description: Превышение нормы расхода на холостом ходу (л)
                                      type: number

                                fueladd:
                                  description: Топливо (дополнительная емкость).
                                  type: object
                                  properties:
                                    startVolume_additional_2:
                                      description: Начальный объём (дл)
                                      type: integer
                                    endVolume_additional_2:
                                      description: Конечный объём (дл)
                                      type: integer
                                    draining_additional_2:
                                      description: Объём сливов (дл)
                                      type: integer
                                    refuelling_additional_2:
                                      description: Объём заправок (дл)
                                      type: integer
                                    minVolume_additional_2:
                                      description: Минимальный объём (дл)
                                      type: integer
                                    maxVolume_additional_2:
                                      description: Максимальный объём (дл)
                                      type: integer
                                    fuelBy100_additional_2:
                                      description: Фактический расход на 100 км (дл)
                                      type: number
                                    fuelConsumption_additional_2:
                                      description: Фактический расход (дл)
                                      type: integer

                                fuelecon:
                                  description: Топливо (Параметры экономичности, основная ёмкость)
                                  type: object
                                  properties:
                                    fuelCons100:
                                      description: Фактический расход на 100 км (дл)
                                      type: number
                                    fuelConsumptionOnMove100:
                                      description: Фактический расход на 100 км в движении (дл)
                                      type: number
                                    dutyConsumption100:
                                      description: Норма расхода на 100 км (л)
                                      type: number
                                    normCons100:
                                      description: Расчетный расход по норме на 100 км (л)
                                      type: number
                                    fuelCons100Dev:
                                      description: Отклонение от нормы на 100 км (%)
                                      type: number
                                    fuelCons100Ex:
                                      description: Перерасход от нормы на 100 км за период (л)
                                      type: number

                                fuelmass:
                                  description: Масса топлива (основная ёмкость)
                                  type: object
                                  properties:
                                    drainingMass:
                                      description: Масса сливов (кг)
                                      type: number
                                    fuelBy100Mass:
                                      description: Фактический расход на 100 км (кг)
                                      type: number
                                    endMass:
                                      description: Конечная масса (кг)
                                      type: number
                                    startMass:
                                      description: Начальная масса (кг)
                                      type: number
                                    fuelByWOHourMass:
                                      description: Фактический расход за час работы двигателя (кг)
                                      type: number
                                    refuellingMass:
                                      description: Масса заправок (кг)
                                      type: number

                                iqfreeze:
                                  description: IQFreeze
                                  type: object
                                  properties:
                                    iQFreezeDevice:
                                      description: Тип установки
                                      type: string
                                    iQFreezeErrorsCount:
                                      description: Количество ошибок за период
                                      type: integer
                                    iQFreezeWorkTime:
                                      description: Время работы рефрижератора (с)
                                      type: integer
                                      format: int64
                                    iQFreezeWorkTimePercent:
                                      description: Время работы рефрижератора (% от периода отчета)
                                      type: number
                                    iQFreezeMotorhours:
                                      description: Моточасы
                                      type: integer
                                      format: int64
                                    iQFreezeMotorhoursPercent:
                                      description: Моточасы (% от периода отчета)
                                      type: number
                                    iQFreezeStartMotorhours:
                                      description: Моточасы на начало периода (ч)
                                      type: number
                                    iQFreezeEndMotorhours:
                                      description: Моточасы на конец периода (ч)
                                      type: number
                                    iQFreezeTotalFuelConsumption:
                                      description: Затрачено топлива всего (л)
                                      type: number
                                    iQFreezeTotalHighRPMFuelConsumption100:
                                      description: Расход при повышенных оборотах на 100 км (л)
                                      type: number
                                    iQFreezeTotalHighRPMFuelConsumptionMH:
                                      description: Расход при повышенных оборотах на моточас (л)
                                      type: number
                                    iQFreezeTotalLowRPMFuelConsumption100:
                                      description: Расход при пониженных оборотах на 100 км (л)
                                      type: number
                                    iQFreezeTotalLowRPMFuelConsumptionMH:
                                      description: Расход при пониженных оборотах на моточас (л)
                                      type: number
                                    iQFreezeDoorOpenCount:
                                      description: Количество открытий двери
                                      type: integer
                                    iQFreezeStopModeFuelConsumption:
                                      description: Расход топлива в режиме работы рефрижератора “Стоп” (дл)
                                      type: number
                                    iQFreezeHeatModeFuelConsumption:
                                      description: Расход топлива в режиме работы рефрижератора “Нагрев” (дл)
                                      type: number
                                    iQFreezeCoolModeFuelConsumption:
                                      description: Расход топлива в режиме работы рефрижератора “Охлаждение” (дл)
                                      type: number
                                    iQFreezeDefrostModeFuelConsumption:
                                      description: Расход топлива в режиме работы рефрижератора “Оттайка” (дл)
                                      type: number

                                tpms:
                                  description: TPMS
                                  type: object
                                  properties:
                                    tpmsDataAbsentMileage:
                                      description: Пробег без данных от системы контроля давления в шинах хотя бы по одному колесу (км)
                                      type: number
                                    tpmsDataAbsentMileagePercent:
                                      description: Пробег без данных от системы контроля давления в шинах хотя бы по одному колесу (% от пробега за период)
                                      type: number
                                    tpmsDataExistMileage:
                                      description: Пробег с данными от системы контроля давления в шинах (км)
                                      type: number
                                    tpmsDataExistMileagePercent:
                                      description: Пробег с данными от системы контроля давления в шинах (% от пробега за период)
                                      type: number
                                    tpmsWrongPressureMileage:
                                      description: Пробег с нарушением нормального давления хотя бы в одном колесе (км)
                                      type: number
                                    tpmsWrongPressureMileagePercent:
                                      description: Пробег с нарушением нормального давления хотя бы в одном колесе (% от пробега за период)
                                      type: number
                                    tpmsTireEconomy:
                                      description: Экономия ресурса покрышек за период (при поддержании целевого давления) (км)
                                      type: number
                                    tpmsFuelEconomy:
                                      description: Экономия топлива за период (при поддержании целевого давления) (дл)
                                      type: number

                                uniDataList:
                                  description: Работа универсальных входов
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      uniInput:
                                        $ref: '#/components/schemas/uniData'
                                      univInputOnTime:
                                        description: Время работы (с)
                                        type: integer
                                        format: int64
                                      univInputOnTimePercent:
                                        description: Время работы (% от периода отчета)
                                        type: number
                                      univInputOffTime:
                                        description: Время простоя
                                        type: integer
                                        format: int64
                                      univInputOffTimePercent:
                                        description: Время простоя (% от периода отчета)
                                        type: number
                                      univInputMaxValue:
                                        description: Максимальное значение за период
                                        type: number
                                      univInputMinValue:
                                        description: Минимальное значение за период
                                        type: number
                                      univInputSumValue:
                                        description: Суммарное значение за период
                                        type: number
                                      univInputOnMileage:
                                        description: Пробег с работающим дополнительным оборудованием (км)
                                        type: number
                                      univInputAverageValue:
                                        description: Среднее значение за период
                                        type: number
                                      univInputOnConsumption:
                                        description: Расход с включенным доп. оборудованием (дл)
                                        type: integer
                                      univInputHourConsumption:
                                        description: Расход с включенным доп. оборудованием на моточас (л)
                                        type: number
                                      univInputMileagePerLitre:
                                        description: Пробег на 1 литр (км)
                                        type: number
                                      univInputMileageConsumption:
[...]
